@import "~antd/dist/antd.css";

* {
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
}

html,
body {
    padding: 0;
    color: #333;
    margin: 0;
}

button {
    all: unset;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}
