@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap");

* {
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
    font-family: "Fira Mono", monospace;
    font-weight: 500;
}

html,
body {
    padding: 0;
    color: #333;
    margin: 0;
}

p {
    margin: 0;
}

button {
    all: unset;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}
