@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap");
@font-face {
    font-family: "NanumBarunGothic";
    font-style: normal;
    font-weight: 400;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
            format("embedded-opentype"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
            format("woff"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
            format("truetype");
}
@font-face {
    font-family: "NanumBarunGothic";
    font-style: normal;
    font-weight: 700;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
            format("embedded-opentype"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
            format("woff"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
            format("truetype");
}

* {
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
    font-weight: 500;
}

html,
body {
    padding: 0;
    color: #333;
    font-family: "NanumBarunGothic", sans-serif;
    margin: 0;
}

p {
    margin: 0;
}

button {
    all: unset;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3 {
    font-weight: 600;
    letter-spacing: -0.2px;
}

.hljs-keyword {
    color: #eb7138;
}

.hljs-string {
    color: #ae422f;
}

.hljs-function {
    color: #981656;
}

.hljs-comment {
    color: #6d6d6d;
    opacity: 0.8;
}

.hljs-built_in {
    color: #6184c6;
}

.hljs-regexp {
    color: #314169;
}
